.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}
.card{
    width: 20%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15px;
}